body{
    background: url("../images/1.jpg") center center ;
    background-attachment: fixed;
    background-size: cover;
}
.container-fluid{
    text-align: center;
    color: white;
}
.heading{
    font-size: 5em;
    margin-top: 0.5%;
    margin-bottom: 0;
}
.LapTime{
    float: right;
    font-size: 4em;
    padding-right: 3%;
}
.mainTime{
    margin-top: 7.5%;
    font-size: 8em;
}
.buttons{
    text-align: center;
}
/*.start{*/
    /*margin-left: 36%;*/
/*}*/
.start, .reset, .lap{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #d7a04e;
    float: left;
    margin-right: 6%;
    font-size: 2em;
    padding-top: 30px;
    margin-top: 1%;
    cursor: pointer;
}
.laps{
    clear: both;
    margin-top: 50px;
    height: 160px;
    overflow-y: auto;
}
.laps_number{
    font-size: 2em;
    margin-left: -78%;
}
.laps_time{
    font-size: 2em;
    float: right;
    padding-right: 2%;
}
hr{
    margin-top: 0;
}
@media(max-width: 1110px){
    .mainTime{
        margin-top: 8.5%;
    }
    .col-xs-8, .col-xs-offset-4{
        margin-left: 31%;
    }
}
@media(max-width: 985px){
    .mainTime{
        margin-top: 9.5%;
    }
    .col-xs-8, .col-xs-offset-4{
        margin-left: 27%;
    }
}
@media(max-width: 885px){
    .mainTime{
        margin-top: 10.5%;
    }
    .col-xs-8, .col-xs-offset-4{
        margin-left: 27%;
    }
    .start, .reset, .lap{
        width: 90px;
        height: 90px;
        border-radius: 45px;
        font-size: 1.8em;
        padding-top: 25px;

    }
}
@media(max-width: 806px){
    .mainTime{
        margin-top: 11.5%;
        font-size: 7em;
    }
    .heading{
        font-size: 4em;
    }
    .LapTime{
        font-size: 3em;
    }
    .lap{
        margin-right: 0;
    }
    /*.laps{*/
        /*height: 180px;*/
    /*}*/
    .col-xs-8, .col-xs-offset-4{
        margin-left: 25%;
    }
}

@media(max-width: 720px) {
    .col-xs-8, .col-xs-offset-4{
        padding: 0;
    }
}
@media(max-width: 655px) {
    .mainTime{
        font-size: 6em;
    }
    .start, .reset, .lap{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        font-size: 1.6em;
        padding-top: 22px;

    }
    .laps{
        height:250px;
    }
    .laps_number{
        font-size: 1.9em;
        margin-left: -62%;
    }
    .laps_time{
        font-size: 1.9em;
        float: right;
        padding-right: 2%;
    }
}
@media(max-width: 583px) {
    .mainTime{
        font-size: 5em;
        margin-top:13.5%;
    }
    .heading{
        font-size: 3.5em;
        margin-bottom: 3%;
    }
    .LapTime{
        font-size: 2.5em;
    }
    .start, .reset, .lap{
        width: 75px;
        height: 75px;
        border-radius: 37.5px;
        font-size: 1.5em;
        padding-top: 22px;

    }
    .start, .reset{
        margin-right: 5%;
    }
    .laps{
        height:210px;
    }

}
@media(max-width: 535px) {
    .mainTime{
        margin-top:15%;
    }


}
@media(max-width: 512px) {
    .start, .reset, .lap{
        width: 65px;
        height: 65px;
        border-radius: 32.5px;
        font-size: 1.4em;
        padding-top: 20px;

    }
    .mainTime{
        font-size: 4em;
    }
    .heading{
        font-size: 3em;
        margin-bottom: 5%;
    }
    .LapTime{
        font-size: 2em;
    }
    .laps{
        height:300px;
    }

}
@media(max-width: 445px) {
    .mainTime{
        margin-top:17%;
    }
    .laps{
        height:280px;
    }

    .start, .reset, .lap{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        font-size: 1.3em;
        padding-top: 17px;

    }
    .col-xs-8, .col-xs-offset-4{
        margin-left: 23%;
    }


}